/vendor
/node_modules
/storage/*.gitignore
Homestead.yaml
Homestead.json
.env
composer.phar
_ide_helper.php
_ide_helper_models.php
.idea/
.wercker/
.php_cs.cache
.DS_Store
workspace.xml
Thumbs.db
*.iws

public/uploads/*
!public/uploads/images/*
public/thumbnail/*
!.gitkeep
